
.overflowAuto{overflow: auto;}

.chapters-nav .MuiPaper-root{
    background-color: #8bc34a;
    color: #ffffff;
}

.chapters-nav .MuiTypography-colorTextSecondary{
    color: rgba(255, 255, 255, 0.54);
}

.chapters-nav .MuiAvatar-colorDefault{
    background-color: rgba(0, 0, 0, 0.14);
}

.verse .arabic_text{
    float: right;
}

.verse .verse_key{
    float: left;
}